body {
    margin: 3%;
    }
/*
#competitorName, #categoryName, #featureName, #marketName {
    width: 15%;
}

#graphType {
    width: 10%;
}
*/
#formButtons {
    margin-top: 2%;
    margin-bottom: 2%;
}

a {margin-top: 2%;}

pre {
    font: inherit;
    display: inherit;
    border: none;
    background: inherit;
    white-space: pre-wrap;
}

img {
    float: left;
    height: 12%;
    width: 12%;
}

table { table-layout: fixed; }

input { text-align: center; }