form { display: none; }
img { display: none; }

body { width: 600px;
    margin-top: 0;
    padding-top: 0; }


h1 { font-size: 16pt; }
h2 { font-size: 14pt; }
h4 { font-size: 12pt; }
p { font-size: 8pt;
    margin: 0 !important;
    padding: 5px 0px 0px 0px !important;
    word-wrap: break-word;
    }

table { padding: 0 !important;
        margin: 0 !important;
        table-layout: fixed; }
td th { border-right:1px solid #d3d3d3; }
#specs { display: none; }
#details { display: none; }
#extraCol { display: none; }
#name { font-size: 8pt !important; }
.titles { font-size: 12pt !important; }


#features { page-break-after: always; }
#categories { page-break-after: always; }

pre { padding: 0 !important;
        font-size: 10pt;}