[key]
secret_key = abcdefghijklmnopqrstuvwxyz123456789

[database]
name = Database_Name
user = Database_Username
password = User_Password
host = IP_address
port = port

[host]
host = host_IP_address
internalhost = internal_host_IP_address