<!DOCTYPE html>
<html>

{% extends "NetsweeperCompetitors/navbar.html" %}
{% load dictionary_lookup %}
{% load set_var %}
{% load staticfiles %}


<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    <link media="print" href="{% static 'NetsweeperCompetitors/css/print_styles.css' %}" rel="stylesheet">

    {% endblock %}

</head>
<body>
{% block body %}

<p class="bg-danger text-danger" align="center">{{ message }}</p>
<p class="text-center small">Please note: Only competitors with valid data will be shown.</p>
<p class="text-center small">Printing more than 3 company comparisons at once is not recommended.</p>


<div class="selectForm" align="center">
    <form method="POST" action="{% url 'categories' %}">
        {% csrf_token %}
        <div class="col-md-4 col-md-offset-2">
            {{ form.selection.errors }}<br>
            {{ form.selection.label_tag }}<br>
            {{ form.selection }}<br>
        </div>

        <div class="col-md-4">
            {{ form.categorySelect.errors }}<br>
            {{ form.categorySelect.label_tag }}<br>
            {{ form.categorySelect }}<br>
        </div>
        <div class="text-center col-md-12">
            <button type="submit" class="btn btn-lg btn-primary" id="formButtons">Submit</button>
            <a type="button" class="btn btn-lg btn-default" href="{% url 'categories' %}" id="formButtons">Clear Selections</a>
        </div>

    </form>
</div>

<div class="text-center col-md-12">
    <form>
        <button class="btn btn-lg btn-primary" onClick="window.print()">Print</button>
    </form>
</div>

{% if categories %}
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        {% for key in categories %} <!--First -->

        <th class="text-center" style="border-left:1px solid #d3d3d3">

            <h4>{{ key }}</h4>

        </th>
        {% endfor %}<!--First -->
    </tr>
    </thead>

    <tr>
        <th class="text-right">
            <h4>Type</h4>
        </th>
        {% for key in categories %}
        <th style="border-left:1px solid #d3d3d3">
            <h4>Categories</h4>
        </th>
        {% endfor %}
    </tr>

    {% for name in category_names %} <!-- Second -->

    <tr>
        <th class="text-right">
            <p>{{ name.name }}</p>
        </th>
        {% for key in categories %}

        <td style="border-left:1px solid #d3d3d3" id="subcategories">
            {% for item in categories|get_item:key %}<!--Fifth -->
            {% if item.category__name == name.name %} <!--Second If -->
            {% if item.details %}<!--Third If -->
            <p>{{ item.details|linebreaks }}</p>
            {% endif %}<!--Third If -->
            {% endif %}<!--Second If -->
            {% endfor %}<!--Fifth -->
        </td>
        {% endfor %}<!-- Third -->
    </tr>
    {% endfor %}<!-- Second -->
</table>
{% endif %}
{% endblock %}
</body>

{% block extrajs %}
{% endblock %}

</html>