<!DOCTYPE html>

<html>

{% extends "NetsweeperCompetitors/navbar.html" %}
<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    {% endblock %}
</head>

<body>
{% block body %}


{% endblock %}
</body>

{% block extrajs %}
{% endblock %}
</html>