<!DOCTYPE html>

<html>

{% extends "NetsweeperCompetitors/navbar.html" %}
<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    <style>
        .input-group-addon {
        background-color: #fff;
        }
        .merged input:first-child {
        border-right: 0px;
        }
        .merged .input-group-addon + input {
        border-left: 0px;
        }
    </style>
    {% endblock %}
</head>

<body>
{% block body %}
<h3 class="text-center">Change Password</h3>

<div class="col-md-4 col-md-offset-4">
    {% if success %}
    <p class="bg-primary text-primary text-center">{{ message }}</p>
    {% else %}
    <p class="bg-danger text-danger text-center">{{ message }}</p>
    {% endif %}
</div>

<div class="col-md-4 col-md-offset-4 text-center" style="padding-top: 2%">
    <form method="POST" action="{% url 'changepassword' %}">
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
        <div style="padding-top: 10%">
            {{ form.new_password.errors }}
            {{ form.new_password.label_tag }}
            <div class="input-group merged">
                {{ form.new_password }}
                <div class="input-group-addon"><span id="pwEnter" aria-hidden="true"></span></div>
            </div>
            {{ form.confirm_password.errors }}
            {{ form.confirm_password.label_tag }}
            <div class="input-group merged">
                {{ form.confirm_password }}
                <div class="input-group-addon"><span id="pwAlert" aria-hidden="true"></span></div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-lg btn-primary" id="formButtons">Submit</button>
            <a type="button" class="btn btn-lg btn-default" href="{% url 'changepassword' %}" id="formButtons">Clear</a>
            {% csrf_token %}
        </div>
    </form>
</div>

{% endblock %}
</body>

{% block extrajs %}
<script>
$('#new_password').on('keyup', function () {
    if ( $(this).val() != "" ){
        $('#pwEnter').attr('class', 'glyphicon glyphicon-ok-circle').css('color', 'green');
    } else $(('#pwEnter').attr('class', ''));
});

$('#confirm_password').on('keyup', function () {
    if ($(this).val() == $('#new_password').val()) {
        $('#pwAlert').attr('class', 'glyphicon glyphicon-ok-circle').css('color', 'green');
    } else $('#pwAlert').attr('class', 'glyphicon glyphicon-remove-circle').css('color', 'red');
});
</script>
{% endblock %}
</html>


