<!DOCTYPE html>

<html>

{% extends "NetsweeperCompetitors/navbar.html" %}
{% load dictionary_lookup %}
<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    <style>
        table { border: none !important; table-layout: fixed !important; }
        th, td { border: none !important;}
    </style>
    {% endblock %}
</head>
<body>
{% block body %}
<h3 class="text-center">Additional Competitor Information</h3>
<p class="text-center small">All documents are provided in PDF format</p>

<div class="text-center" style="padding: 3%">
    <button class="btn btn-lg btn-primary" type="button" data-toggle="collapse" data-target="#collapseMe" aria-expanded="false" aria-controls="collapseMe">
        Filter Results
    </button>
</div>


<div class="collapse" id="collapseMe">
    <div class="selectForm" align="center">
        <form method="POST" action="{% url 'competitordocs' %}">
            <div class="col-md-4 col-md-offset-4">
                {{ form.selection.errors }}<br>
                {{ form.selection.label_tag }}<br>
                {{ form.selection }}<br>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-lg btn-primary" id="formButtons">Submit</button>
                <a type="button" class="btn btn-lg btn-default" href="{% url 'competitordocs' %}" id="formButtons">Clear Selections</a>
                {% csrf_token %}
            </div>
        </form>
    </div>
</div>


<table class="table table-hover" align="center">
    <tr>
        <td width="27%"></td>
        <td width="58%"></td>
        <td width="15%"></td>
    </tr>
    {% for key in files %}
    <tr class="info">
        <th colspan="3">
            <h4>{{ key }}</h4>
        </th>
    </tr>
    {% for item in files|get_item:key %}
    <tr>
        <td>
            <b>{{ item.document_name }}</b>
        </td>
        <td>
            <p>{{ item.description|linebreaks }}</p>
        </td>
        <td>
            <a href="{{ item.document.url }}" type="button" class="btn btn-primary">View</a>
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>

{% endblock %}
</body>

{% block extrajs %}


{% endblock %}
</html>