<!DOCTYPE html>

<html>

{% extends "NetsweeperCompetitors/navbar.html" %}
{% load dictionary_lookup %}
<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    {% endblock %}

</head>
<body>
{% block body %}

<h1 align="center">Netsweeper Competitors Data Analysis</h1>
<p class="bg-danger text-danger" align="center">{{ message }}</p>
<p class="text-center small">Please note: Only competitors with valid data will be shown.<br>A percentage value of '0' indicates incomplete data.</p>

<div id="graphContainer" style="width:100%; height:400px;"></div>

<div class="selectForm" align="center">
    <form method="POST" action="{% url 'globalmarket' %}">
        {% csrf_token %}
        <div class="col-md-4">
            {{ form.selection.errors }}<br>
            {{ form.selection.label_tag }}<br>
            {{ form.selection }}<br>
        </div>
        <div class="col-md-4">
            {{ form.globalMarketSelect.errors }}<br>
            {{ form.globalMarketSelect.label_tag }}<br>
            {{ form.globalMarketSelect }}<br>
        </div>
        <div class="col-md-4">
            {{ form.graphType.errors }}<br>
            {{ form.graphType.label_tag }}<br>
            {{ form.graphType }}<br>
        </div>
        <div class="text-center col-md-12">
            <button type="submit" class="btn btn-lg btn-primary" id="formButtons">Submit</button>
            <a type="button" class="btn btn-lg btn-default" href="{% url 'globalmarket' %}" id="formButtons">Clear Selections</a>
        </div>
    </form>
</div>

{% endblock %}
</body>

{% block extrajs %}

<script>
    $(function () {
    $('#graphContainer').highcharts({
        chart: {
            type: '{{ graph }}'
        },
        title: {
            text: 'Global Market Breakdown'
        },
        xAxis: {
            categories: [

            {% for item in competitor %}
                '{{item.name}}',
            {% endfor %}]

        },
        yAxis: {
            title: {
                text: 'Percentage'
            }
        },
        plotOptions: {
            {{ graph }}: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        
        series: [
        {% for key in market %}
            {
            name: '{{ key }}',
            data: [

            {% for item in competitor %}
                {{ market|get_item:key|get_item:item.id }},
            {% endfor %}

            ]},
        {% endfor %}
        ]
    });
});
</script>

{% endblock %}
</html>