<!DOCTYPE html>

<html>

{% extends "NetsweeperCompetitors/navbar.html" %}
<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    {% endblock %}
</head>
<body>
{% block body %}
<div align="center">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <p class="bg-danger text-danger" style="margin-top: 5%">{{ message }}</p>

        <div class="col-md-3 col-md-offset-3">
            {{ form.username.errors }}<br>
            {{ form.username.label_tag }}<br>
            {{ form.username }}
        </div>
        <div class="col-md-3">
            {{ form.password.errors }}<br>
            {{ form.password.label_tag }}<br>
            {{ form.password }}
        </div>
        <div class="text-center col-md-12">
            <button type="submit" class="btn btn-lg btn-primary" id="formButtons">Login</button>
        </div>
    </form>
    <div class="text-center col-md-12">
        <small><a href="#">Forgot your password?</a></small>
    </div>
</div>

{% endblock %}
</body>

{% block extrajs %}


{% endblock %}
</html>