<!DOCTYPE html>

<html>
{% extends "NetsweeperCompetitors/navbar.html" %}
{% load staticfiles %}

<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    <link media="print" href="{% static 'NetsweeperCompetitors/css/print_styles.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block body %}

<div class="selectForm" align="center">
    <form method="POST" action="{% url 'printpage' %}">
        {% csrf_token %}
        {{ form.selection.errors }}<br>
        {{ form.selection.label_tag }}<br>
        {{ form.selection }}
        {{ form.showCategories.errors }}<br>
        {{ form.showCategories }}
        {{ form.showCategories.label_tag }}
        {{ form.showPartners.errors }}
        {{ form.showPartners }}
        {{ form.showPartners.label_tag }}<br>

        <button type="submit" class="btn btn-lg btn-primary" id="formButtons">Submit</button>
        <a type="button" class="btn btn-lg btn-default" href="{% url 'printpage' %}" id="formButtons">Clear Selections</a>
    </form>
</div>
<div align="center">

    <form>
        <button class="btn btn-lg btn-primary" onClick="window.print()">Print</button>
    </form>
</div>
{% if competitor %}
<div>
    <h1 class="text-center">Netsweeper Competitor Datasheet</h1>
    <h2>
        {{ competitor.name }}
    </h2>
    <div class="row">
        <div class="col-xs-4">
            <p class="lead">Summary</p>
            {% if competitor.acquired %}
                <p><b>Acquired By: </b>{{ competitor.acquired_by }}</p>
            {% elif competitor.merged_with %}
                <p><b>Merged with: </b>{{ competitor.merged_with }}</p>
            {% endif %}

            <b>URL: </b>
            {% if competitor.url %}
                <p>{{ competitor.url }}</p>
            {% else %}
                <p>No data</p>
            {% endif %}



            <h4>Global Market Breakdown</h4 >
            {% if competitor.globalMarket %}
                {% for item in competitor.globalmarketshare_set.all %}
                    <p><b>{{ item.global_market.name }}: </b>
                        {% if item.share != 0.00 %}
                            {{ item.share }}%</p>
                        {% else %}
                            Portion Unknown</p>
                        {% endif %}
                {% endfor %}
            {% endif %}

            <h4>Vertical Market Breakdown</h4>
            {% if competitor.globalMarket %}
                {% for item in competitor.verticalmarketshare_set.all %}
                    <p><b>{{ item.vertical_market.name }}: </b>
                        {% if item.share != 0.00 %}
                            {{ item.share }}%</p>
                        {% else %}
                            Portion Unknown</p>
                        {% endif %}
                {% endfor %}
            {% endif %}
        </div><!--col -->

        <div class="col-xs-4">
            <h4>Product Details</h4>

            {% for product in products %}

               <p> <b>Product Name: </b>{{ product.name }}</p>
                <p><b>Target Market: </b>
                    {% if competitor.target_Market.name %}
                        {{ competitor.target_Market.name }}
                    {% else %}
                        No data
                    {% endif %}
                    </p>
                <p><b>Price: </b>
                    {% if product.price %}
                        ${{ product.price }}
                    {% else %}
                        No data
                    {% endif %}
                </p>
                <p><b>Filtering Categories: </b>
                    {% if competitor.number_of_categories %}
                        {{ competitor.number_of_categories }}
                    {% else %}
                        No data
                    {% endif %}
                </p>
                <p><b>URL Database: </b>
                    {% if product.urlDB %}
                        {{ product.urlDB }}
                    {% else %}
                        No data
                    {% endif %}
                </p>

                <p><b>Supported Platforms: </b>
                    {% if product.platform %}
                        {% for item in product.platform.all %}
                            {{ item.name }}
                        {% endfor %}
                    {% else %}
                        No data
                    {% endif %}</p>

                <h4>SaaS/Appliance Breakdown</h4>

                    <p><b>SaaS: </b>
                        {% if competitor.saas %}
                            {{ competitor.saas }}%
                        {% else %}
                            No data
                        {% endif %}
                    </p>

                    <p><b>Appliance: </b>
                        {% if competitor.appliance %}
                            {{ competitor.appliance }}%
                        {% else %}
                            No data
                        {% endif %}
                    </p>
            {% empty %}
                <p>No product information available</p>
            {% endfor %}<!--for product in products -->
        </div><!--col -->

        <div class="col-xs-4">
            <h4>Strengths</h4>
            {% if competitor.strengths %}
                <p>{{ competitor.strengths|safe }}</p>
            {% else %}
                <p>No data</p>
            {% endif %}
            <h4>Weaknesses</h4>
            {% if competitor.weaknesses %}
                <p>{{ competitor.weaknesses|safe }}</p>
            {% else %}
                <p>No data</p>
            {% endif %}
            <h4>Notes</h4>
            <p>{{ competitor.notes }}</p>
        </div><!--col -->
    </div><!--Row -->
    <div class="row" id="features">
        <h2>Product Features</h2>
            {% for item in competitor.features.all %}
                <div class="col-xs-3">
                    <p>{{ item.name }}</p>
                </div>
            {% empty %}
                    <p>No feature data</p>
            {% endfor %}
    </div><!--Row/features -->
    {% if showCategories %}
    <div class="row" id="categories">
        <h2>{{ competitor.name }} Web Filtering Categories</h2>
        {% for item in competitor.competitorcategories_set.all %}



        <div class="col-xs-4">
            <p><b>{{ item.category.name}}</b></p><p>{{ item.details|safe }}</p>
        </div>
        {% empty %}
            <p>No category data</p>
        {% endfor %}
    </div><!--categories -->
    {% endif %}<!--if showCategories -->
    {% if showPartners %}
    <h2>{{ competitor.name }} Partnerships</h2>
    <div class="col-xs-4">
        <h4>Channel  Partners</h4>
            {% if competitor.channel_partners %}
                <p>{{ competitor.channel_partners|safe }}</p>
            {% else %}
                <p>None</p>
            {% endif %}
    </div><!--col -->
    <div class="col-xs-4">
        <h4>Technology  Partners</h4>
            {% if competitor.technology_partners %}
                <p>{{ competitor.technology_partners|safe }}</p>
            {% else %}
                <p>None</p>
            {% endif %}
    </div><!--col -->
    <div class="col-xs-4">
        <h4>OEM</h4>
            {% if competitor.oem_partners %}
                <p>{{ competitor.oem_partners|safe }}</p>
            {% else %}
                <p>None</p>
            {% endif %}
    </div><!--col -->
    {% endif %} <!--if showPartners -->
</div><!--Datasheet -->
{% endif %} <!--if competitor -->
{% endblock %}
</body>

{% block extrajs %}


{% endblock %}
</html>