<!DOCTYPE html>

<html>

{% extends "NetsweeperCompetitors/navbar.html" %}
<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    {% endblock %}

</head>
<body>
{% block body %}
<div id="messages">
    <p class="bg-danger text-danger text-center">{{ message }}</p>
    <p class="lead" align="center">Revenue Estimates</p>
    <p class="text-center small">Please note: Only competitors with valid data will be shown.<br>
        A percentage value of '0' indicates incomplete data.<br>
        If multiple estimates are present, the amount shown represents the average of all estimates.</p>
</div>

<div class="text-center" style="padding: 3%">
    <button class="btn btn-lg btn-primary" type="button" data-toggle="collapse" data-target="#collapseMe" aria-expanded="false" aria-controls="collapseMe">
        Filter Results
    </button>
</div>


<div class="collapse" id="collapseMe">
    <div class="selectForm" align="center">

        <form method="POST" action="{% url 'revenue' %}">
            <div class="col-md-4 col-md-offset-2">
                {{ form.selection.errors }}<br>
                {{ form.selection.label_tag }}<br>
                {{ form.selection }}
            </div>
            <div class="col-md-4">
                {{ form.graphType.errors }}<br>
                {{ form.graphType.label_tag }}<br>
                {{ form.graphType }}<br>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-lg btn-primary" id="formButtons">Submit</button>
                <a type="button" class="btn btn-lg btn-default" href="{% url 'revenue' %}" id="formButtons">Clear Selections</a>
                {% csrf_token %}
            </div>
        </form>
    </div>
</div>

{% for item in revenue %}
<div id="{{ item.id }}" class="col-md-3"></div>
{% endfor %}
{% endblock %}
</body>

{% block extrajs %}
{% for item in revenue %}
<script>
$(function () {
    $('#{{ item.id }}').highcharts({
        chart: {
            type: '{{ graph }}'
        },
        title: {
            text: '<b>{{ item.name }}</b>'
        },
        xAxis: {
            labels: { enabled: false }
        },
        yAxis: {
            title: {
                text: 'Revenue ($millions)'
            }
        },
        plotOptions: {
            {{ graph }}: {
                allowPointSelect: true,
                dataLabels: {
                        enabled: true
                    },
                    showInLegend: true
            },
        },
                series: [{
            name: 'Total Revenue',
            data: [{{item.total_rev}},]
        }, {% if item.filter_rev > 0 %}{
            name: 'Revenue from Content Filtering',
            data: [{{item.filter_rev}},]
        }{% endif %}]
    });
});
</script>
{% endfor %}


{% endblock %}
</html>