<!DOCTYPE html>

<html>

{% extends "NetsweeperCompetitors/navbar.html" %}
<head lang="en">
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Netsweeper Competitors</title>
    {% block extrastyles %}
    {% endblock %}

</head>
<body>
{% block body %}
<div id="messages">
    <p class="bg-danger text-danger text-center">{{ message }}</p>
    <p class="small" align="center">Only companies with data in at least one field will be shown by default</p>
</div>
<div class="text-center" style="padding: 3%">
    <button class="btn btn-lg btn-primary" type="button" data-toggle="collapse" data-target="#collapseMe" aria-expanded="false" aria-controls="collapseMe">
        Filter Results
    </button>
</div>


<div class="collapse" id="collapseMe">

    <div class="selectForm" align="center">
        <form method="POST" action="{% url 'technology' %}">
            {% csrf_token %}
            <div class="col-md-4 col-md-offset-2">
                {{ form.selection.errors }}<br>
                {{ form.selection.label_tag }}<br>
                {{ form.selection }}
            </div>
            <div class="col-md-4">
                {{ form.graphType.errors }}<br>
                {{ form.graphType.label_tag }}<br>
                {{ form.graphType }}<br>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-lg btn-primary" id="formButtons">Submit</button>
                <a type="button" class="btn btn-lg btn-default" href="{% url 'technology' %}" id="formButtons">Clear Selections</a>
            </div>
        </form>
    </div>
</div>

<div id="graphContainer" style="width:100%; height:400px;"></div>




{% endblock %}
</body>

{% block extrajs %}
<script>
    $(function () {
    $('#graphContainer').highcharts({
        chart: {
            type: '{{ graph }}'
        },
        title: {
            text: 'Competitor Technologies Breakdown'
        },
        xAxis: {
            categories: [{% for item in technologies %}'{{item.name}}', {% endfor %}]
        },
        yAxis: {
            title: {
                text: 'Percentage'
            }
        },
        plotOptions: {
            {{ graph }}: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'SaaS',
            data: [{% for item in technologies %}{{item.saas}}, {% endfor %}]
        }, {
            name: 'Appliance',
            data: [{% for item in technologies %}{{item.appliance}}, {% endfor %}]
        }]
    });
});
</script>


{% endblock %}
</html>